@using AdminPanelWebProje.Models.Class
@model List<Anasayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Hamzaİnce</title>
</head>
<body>
<div class="center">
    <div class="avatar">
        <img src="/Frontend/img/IMG-20220519-WA0009.jpg">
    </div>
    <div class="content">
       @foreach (var x in Model)
       {
           <h1>@x.Name</h1>
           <h2>@x.job</h2>
           <p>@x.text</p>
           <h3>@x.socialtext</h3>
       }             
       
    </div>

    @Html.Action("icon","Home")

</div>
</body>
</html>
